@media screen and (min-width: 720px) {
    body {
      background-color: rgb(191, 212, 220);
    }
  }

 


  .name{ 
    margin-left: 70px;
    margin-top: 25px;
    color: crimson;
    font-family: cursive;
    font-weight: 1000;
    text-shadow: 4px 2px aqua;
  }

#naiv{
     background-color:skyblue;
    color: rgb(229, 9, 46);
    display: grid;
    padding: 10px;
    grid-template-columns: 900px 100px 200px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

#item{
    
    display: flex;
}

.dabba{
  margin-top: 20px;
  margin-left: 70px;
}
a {
  color: crimson;

  text-decoration: none;
  }

  a:hover{
    color: #c42c66;
    border-bottom:3px solid palevioletred;
  }

  

  #image img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid #c42c66;
    border-bottom-color: rgb(24, 240, 240);
    border-top-color: aqua;
    filter: drop-shadow(0px 0px 25px rgba(230, 62, 123, 0.922));
    
  
  
  }

  #content{
    margin-top: 200px;
    margin-left: 70px;
    margin-right: 300px;
    display: flex;
    justify-content: space-between;
    
  }
  #content_name{
    display: flex;
  }

  .myName{
    color: #c42c66;
  }
  .myWork{
    margin-top: 0px;
  }
  .click{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    margin-right: 400px;
    background-color: #c42c66;
    
  }
  .click button{
    font-size: 20px;
    color: #c42c66;
    box-shadow: 0 8px 16px 0 rgba(78, 194, 226, 0.916), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
  }
  .click button:hover {
    box-shadow: 0 12px 16px 0 rgba(244, 10, 119, 0.922), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:skyblue;
  }




  #about{
    margin-top: 200px;
    margin-left: 70px;
    height: 800px;
    display: flex;
    background-color: white;
    
  }

  #skill{
    margin-right: 10px;
    margin-left: 35px;
    background-color: bisque;
   }

   .m1{
    height: 100px;
    width: 150px;
    
   }

   #studentImage{
    margin-top: 90px;
    filter: grayscale(0%);
    opacity: 1;
   }

   #aboutDIV{
    margin-top: 190px;
    background-color: white;
   }
   